*{
  margin: 0;
  padding: 0;
  font-family: century; 

}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    background-image: url(looking\ turtles.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;


  }
  
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #a7bcf6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin: 0;
  }
  
  form {
    width: 60%;
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input, select {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #0d0c0c;
    border-radius: 4px;
  }
  
  .country-select {
    display: flex;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fefefe;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .summary {
    width: 35%;
    padding: 20px;
    background-color: #a7bcf6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(71, 10, 213, 0.1);
  }
  
  .summary h3 {
    margin-top: 0;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #7f76f1;
  }
  
  table td {
    padding: 8px;
    border: 1px solid #f31c1c;
  }
  
  table td:nth-child(1) {
    font-weight: bold;
    background-color: #f7f7bf;
  }
  
  table td:nth-child(2) {
    background-color: #f8fde1;
  }
/* Styling for required fields */
.required {
    color: red;
  }  
  
  .topnav {
    background-color: #05599a;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f9f8f8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #f1fa4f;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .footer{
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    position: relative;
    top: 100px;
  }
  
  
  .footer h5{
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
  }
  
  .footer p{
    font-size: 15px;
    color: rgb(0, 0, 0);
  }
  
  
  .fa-heart-o{
  color:red;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #ec533e;
    color: white;
  }