*{
  margin: 0;
  padding: 0;
  font-family: century; 

}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    background-image: url(looking\ turtles.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;


  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    margin-top: 20px;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #d9d9d9;
    cursor: not-allowed;
  }
  
  .error-message {
    color: red;
    display: block;
    margin-top: 5px;
  }
  .required {
    color: red;
  }  
  
  .topnav {
    background-color: #05599a;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f9f8f8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #f1fa4f;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .footer{
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    position: relative;
    top: 100px;
  }
  
  
  .footer h5{
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
  }
  
  .footer p{
    font-size: 15px;
    color: rgb(0, 0, 0);
  }
  
  
  .fa-heart-o{
  color:red;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #ec533e;
    color: white;
  }