*{
  margin: 0;
  padding: 0;
  font-family: century; 

}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    background-image: url(looking\ turtles.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;


  }

h1 {
  text-align: center;
  padding: 20px 0;
}

section {
  margin: 20px;
  padding: 20px;
  border: 5px solid #050505;
  border-radius: 5px;
  background-color:white;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
}







#calculateCharges {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50; 
  color: #fff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
  transition: background-color 0.3s ease-in-out; 
}


#calculateCharges:hover {
  background-color: #45a049; 
}


#totalCharges {
  margin-top: 10px;
  font-size: 18px;
  color: #333; 


}

input[type="number"] {
  width: 60px;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #1707c8;
  border-radius: 4px;
}

.pricingTable  {
    margin: 20px;
    padding: 20px;
    border: 5px solid #f8c994;
    border-radius: 5px;
    background-color: #f8c994;
}
#pricingTable {
  width: 100%;
  border-collapse: collapse;
}

#pricingTable td,
#pricingTable th {
  border: 1px solid #080808;
  padding: 8px;
  text-align: center;
}

#pricingTable th {
  background-color: #f9e297;
}






button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.guest-control {
  display: flex;
  align-items: center;
}

.guest-count {
  font-size: 24px;
  margin: 0 10px;
}

#summary {
  margin-top: 30px;
}

#summary h2 {
  text-align: center;
}

#summaryTable {
  width: 100%;
  border-collapse: collapse;
}

#summaryTable td,
#summaryTable th {
  border: 1px solid #0a0a0a;
  padding: 8px;
  text-align: center;
}

#summaryTable th {
  background-color: #f7fa9e;
}

#summaryTable td:first-child {
  text-align: left;
}

#summaryCharges,
#summaryTotal {
  font-weight: bold;
}

.button {
    
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.topnav {
  background-color: #05599a;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f9f8f8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #f1fa4f;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0px;
  position: relative;
  top: 100px;
}


.footer h5{
  color: rgb(0, 0, 0);
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
  font-size: 20px;
}

.footer p{
  font-size: 15px;
  color: rgb(0, 0, 0);
}


.fa-heart-o{
color:red;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #ec533e;
  color: white;
}